@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: "FonteLogo";
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
	font-family: Arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1);
}

p{
	text-align: justify;
	text-indent: 50px;
}

a{
	text-decoration: none;
	color: #606060;
}

a:hover{
	text-decoration: underline;
}

/* INTERFACE */
div#interface{
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: relative;
}

/* MENU PRINCIPAL */
nav#menu{
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 270px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu h1{
	display: none;
}


nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

/* SEPARAÇÃO DOS BLOCOS */
section#corpo{
	width: 500px;
	display: block;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 20px;
}

aside#lateral{
	background-color: #dddddd;
	display: block;
	width: 350px;
	float: right;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) 
}

footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
}

/* CABEÇALHO */
header#cabecalho{
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1{
	font-family: "FonteLogo", sans-serif;
	color: #606060;
	font-size: 30pt;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* FOTO DO OCULOS */
header#cabecalho img#icone{
    position: absolute;
    left: 780px;
    top: 70px;
}

/* FOTO COM LEGENDA*/
figure.foto-legenda{
    border: 1px solid black;
    box-shadow: 4px 4px 1px black;
    position: relative;
}

figure.foto-legenda img{
    width: 100%;
    height: 50%;
}

figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 1s;
    padding: 10px;
    box-sizing: border-box; 
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* ARTIGO */
article#noticia-principal h2{
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
}

header#cabecalho-artigo h2{
	margin: 0px;
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
}

header#cabecalho-artigo h3{
	font-size: 12pt;
	color: #606060;
}

.direita{
	text-align: right;
}

/* TABELA DE ESPECIFICAÇÕES */
table#tabelaSpecs{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaSpecs td{
	border: 1px solid #606060;
	padding: 10px;
}

table#tabelaSpecs td.ce{
    font-weight: bold;
    vertical-align: top;
    background-color: #606060;
    color: #ffffff;
    text-align: right;
}

table#tabelaSpecs td.cd{
    background-color: #cecece;
}

table#tabelaSpecs caption{
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaSpecs caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

 /* LATERAL */
aside#lateral h1{
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2{
    font-size: 15pt;
    background-color: #606060;
    color: #ffffff;
    padding: 5px;
}
